* { outline: 0; margin: 0; padding: 0; }

body {
  background: url("img/background.png");
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 90%;
  color: #444;
}

header {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  text-align: center;
  color: #999;
  height: 100px;
  padding: 0.5% 0;
}

header img {
  display: none;
  border-radius: 300px;
}

header nav a {
  color: #ccc;
  display: inline-block;
  padding: 0 3px;
}

header h1 {
  margin-bottom: 0;
  font-size: 1.4em;
  margin-top: 0.8em;
}

header h2 {
  font-size: 1.1em;
  font-weight: normal;
  margin-top: 0;
  display: none;
}

header .social-networks {
  display: none;
  list-style: none;
  margin: 0;
}

header .social-networks li {
  display: inline;
}

header .social-networks li img {
  display: inline-block;
  margin-right: 10px;
}

header .social-networks li:last-child img {
  margin-right: 0;
}

p {
  line-height: 1.8em;
  margin: 0 0 1.2em 0;
}

h1 {
  color: #5284B9;
  font-size: 2em;
  margin: 0.6em 0;
}

h2 {
  font-size: 1.6em;
  margin: 1.2em 0 0.6em;
}

h3 {
  font-size: 1.2em;
  margin: 1.2em 0 0.6em 0;
}

h4 {
  margin-bottom: 0.6em;
}

a {
  color: #5284B9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  padding: 2% 5%;
  max-width: 900px;
}

ul {
  margin: 0 0 1em 2em;
}

ul ul {
  margin-left: 2em;
}

li {
  line-height: 1.8em;
}

pre, blockquote {
  margin: 1.2em 2.4em 1.2em 2.4em;
  border-left: 2px solid #bbb;
  padding: 0 1.2em;
}

pre {
  font-family: monospace;
  overflow: auto;
}

pre.console {
  font-size: 0.9em;
  background: #222;
  color: #bbb;
  padding: 5px 20px;
}

blockquote {
  font-style: italic;
  color: #777;
}

p code {
  padding: 2px 4px;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.center { text-align: center; }

article img {
  max-width: 100%;
  -webkit-box-shadow: 0 0 3px #ccc;
     -moz-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
  padding: 10px;
  background: #fff;
}

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.js-video.widescreen {
  padding-bottom: 57.25%;
}

.js-video.vimeo {
  padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media screen and (min-width: 480px) {
  header {
    text-align: left;
    padding: 1em 5%;
  }
  header h2 {
    display: block;
  }
  header nav {
    position: absolute;
    right: 5%;
    top: 3.75em;
  }
}

@media screen and (min-width: 640px) {
  header img {
    display: block;
    width: 90px;
    position: absolute;
    top: 10%;
  }
  header h1, header h2 {
    margin-left: 100px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 14px;
  }
  header {
    position: fixed;
    height: 100%;
    width: 330px;
    padding: 5em 0 0;
    text-align: center;
  }
  header h1, header h2 {
    margin: auto;
  }
  header img {
    position: static;
    margin: 1em auto;
    width: auto;
  }
  header nav {
    position: static;
    margin: 1em 0;
  }
  header .social-networks {
    display: block;
  }
  .content {
    margin-left: 300px;
  }
  ul {
    margin-left: 4em;
  }
}

@media screen and (min-width: 1600px) {
  body {
    font-size: 16px;
  }
  code {
    font-size: 0.8em;
  }
}

figure {
  text-align: center;
  margin-bottom: 20px;
}