* { outline: 0; margin: 0; padding: 0; }

body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 76%;
  color: #000;
  background: #fff;
}

body > .wrapper {
  padding: 2em 0 4em;
}

.wrapper {
  margin: 0em auto;
  width: 90%;
  max-width: 780px;
}

header {
  background: #036;
}

header h1, header p, header a {
  color: #fff;
  font-weight: normal;
  margin: 0;
}

header h1 {
  margin: 0 0 0.3em 0;
}

header .wrapper {
  padding: 2.4em 0;
}

header .separator {
  background: #048;
  box-shadow: 0px 0px 6px #111;
}

header nav {
  margin-top: 35px;
  text-align: right;
}

header nav a {
  display: inline-block;
  margin-right: 20px;
}

header nav a:last-child {
  margin: 0;
}

footer {
  background: #999;
  line-height: 1.8em;
}

footer h5 {
  font-size: 1.6em;
}

footer a {
  font-weight: normal;
}

footer .separator {
  box-shadow: 0px 3px 6px #111;
  background: #666;
}

footer .details.wrapper {
  padding: 1.2em 0;
}

footer .details a {
  color: #3c3c3c;
}

footer .tweets_column {
  float: left;
  width: 42%;
  margin-right: 4%;
}

footer .social_column {
  list-style: none;
}

footer .tweet {
  margin-bottom: 1.2em;
}

footer .tweet .avatar {
  float: left;
  margin-right: 10px;
}

footer .github_column {
  float: left;
  margin-right: 4%;
  width: 30%;
}

footer .github {
  margin-bottom: 1.2em;
}

footer .social_column {
  width: 20%;
  float: left;
}

footer .social_column ul {
  list-style: none;
  margin-left: 0;
}

footer .social_column li {
  margin-left: 0;
}

footer .copyright {
  background: #666;
  padding: 0.6em 0;
  font-size: 0.9em;
}

footer .copyright p, footer .copyright a {
  margin: 0;
  font-weight: normal;
}

.separator {
  height: 7px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid sans', 'sans serif';
  font-weight: normal;
}

h1 {
  font-size: 2.0em;
  margin: 1.2em 0em 1.2em 0em;
}

h2 {
  font-size: 1.7em;
  margin: 1.2em 0em 1.2em 0em;
}

h3 {
  font-size: 1.4em;
  margin: 1.2em 0em 1.2em 0em;
}

h4 {
  font-size: 1.2em;
  margin: 1.2em 0em 1.2em 0em;
}

h5 {
  font-size: 1.0em;
  margin: 1.2em 0em 1.2em 0em;
}

h6 {
  font-size: 0.8em;
  margin: 1.2em 0em 1.2em 0em;
}

p {
  font-size: 1.0em;
  line-height: 1.8em;
  margin: 1.2em 0em 1.2em 0em;
}

li {
  line-height: 1.8em;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

.half {
  width: 50%;
  float: left;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.floatLeft { float: left; }
.floatRight { float: right; }
.clear { clear: both; }

img {
  border: 0;
}

ol, ul, li {
  font-size: 1.0em;
  line-height: 1.8em;
  margin: 0.2em 0 0.1em 20px;
}

li > p {
  margin-top: 0.2em;
}

pre, blockquote {
  margin: 1.2em 2.4em 1.2em 2.4em;
  border-left: 2px solid #bbb;
  padding: 0 1.2em;
}

blockquote {
  font-style: italic;
  color: #555;
}

pre {
  font-family: monospace;
  font-size: 1.1em;
}

#home .posts span, #archives .posts span {
  display: inline-block;
  width: 80px;
  text-align: right;
}