@import "./syntax.scss";

p code {
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

pre {
    text-align: left;
    background: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 2px 4px;
    color: #d14;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em 2.4em 1.2em 2.4em;
    border-left: 2px solid #bbb;
    &.console {
        font-size: 0.9em;
        background: #222;
        color: #bbb;
        padding: 5px 20px;
    }

    code {
        color: #444;
        display: block;
        white-space: pre;
    }
}
