@import "./code.scss";
@import "./header.scss";

* {
    outline: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 90%;
    color: #444;
}

p {
    line-height: 1.8em;
    margin: 0 0 1.2em 0;
}

h1 {
    color: #5284B9;
    font-size: 2em;
    margin: 0.6em 0;
}

h2 {
    font-size: 1.6em;
    margin: 1.2em 0 0.6em;
}

h3 {
    font-size: 1.2em;
    margin: 1.2em 0 0.6em 0;
}

h4 {
    margin-bottom: 0.6em;
}

a {
    color: #5284B9;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.content {
    padding: 2% 5%;
    max-width: 900px;
}

ul {
    margin: 0 0 1em 2em;
    ul {
        margin-left: 2em;
    }
}

li {
    line-height: 1.8em;
}

blockquote {
    font-style: italic;
    color: #777;
    margin: 1.2em 2.4em 1.2em 2.4em;
    border-left: 2px solid #bbb;
    padding: 0 1.2em;
}

.center { text-align: center; }

article img {
    max-width: 100%;
    -webkit-box-shadow: 0 0 3px #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    padding: 10px;
    background: #fff;
}

.js-video {
    height: 0;
    padding-top: 25px;
    padding-bottom: 67.5%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.js-video.widescreen {
    padding-bottom: 57.25%;
}

.js-video.vimeo {
    padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

@media screen and (min-width: 480px) {
    header {
        text-align: left;
        padding: 1em 5%;
    }
    header h2 {
        display: block;
    }
    header nav {
        position: absolute;
        right: 5%;
        top: 3.75em;
    }
}

@media screen and (min-width: 640px) {
    header img {
        display: block;
        width: 90px;
        position: absolute;
        top: 10%;
    }
    header h1, header h2 {
        margin-left: 100px;
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 14px;
    }
    header {
        position: fixed;
        height: 100%;
        width: 330px;
        padding: 5em 0 0;
        text-align: center;
    }
    header h1, header h2 {
        margin: auto;
    }
    header img {
        position: static;
        margin: 1em auto;
        width: auto;
    }
    header nav {
        position: static;
        margin: 1em 0;
    }
    header .social-networks {
        display: block;
    }
    .content {
        margin-left: 300px;
    }
    ul {
        margin-left: 4em;
    }
}

@media screen and (min-width: 1600px) {
    body {
        font-size: 16px;
    }
    code {
        font-size: 0.8em;
    }
}

figure {
    text-align: center;
    margin-bottom: 20px;
}

.talks a .event {
    color: #444;
}

.talk {
    margin-bottom: 30px;
}

.talk h1 {
    margin-bottom: 0;
}

.talk .metas {
    font-size: 1.2em;
    color: #999;
    margin-top: 5px;
    margin-bottom: 15px;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; margin-bottom: 20px; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.canonical { font-style: italic; margin-top: -20px; }
