.highlight {
    .c {
        /* Comment */
        color: #999988;
        font-style: italic;
    }
    .err {
        /* Error */
        color: #a61717;
        background-color: #e3d2d2;
    }
    .k {
        /* Keyword */
        font-weight: bold;
    }
    .o {
        /* Operator */
        font-weight: bold;
    }
    .cm {
        /* Comment.Multiline */
        color: #999988;
        font-style: italic;
    }
    .cp {
        /* Comment.Preproc */
        color: #999999;
        font-weight: bold;
    }
    .c1 {
        /* Comment.Single */
        color: #999988;
        font-style: italic;
    }
    .cs {
        /* Comment.Special */
        color: #999999;
        font-weight: bold;
        font-style: italic;
    }
    .gd {
        /* Generic.Deleted */
        color: #000000;
        background-color: #ffdddd;
        .x {
            /* Generic.Deleted.Specific */
            color: #000000;
            background-color: #ffaaaa;
        }
    }
    .ge {
        /* Generic.Emph */
        font-style: italic;
    }
    .gr {
        /* Generic.Error */
        color: #aa0000;
    }
    .gh {
        /* Generic.Heading */
        color: #999999;
    }
    .gi {
        /* Generic.Inserted */
        color: #000000;
        background-color: #ddffdd;
        .x {
            /* Generic.Inserted.Specific */
            color: #000000;
            background-color: #aaffaa;
        }
    }
    .go {
        /* Generic.Output */
        color: #888888;
    }
    .gp {
        /* Generic.Prompt */
        color: #555555;
    }
    .gs {
        /* Generic.Strong */
        font-weight: bold;
    }
    .gu {
        /* Generic.Subheading */
        color: #aaaaaa;
    }
    .gt {
        /* Generic.Traceback */
        color: #aa0000;
    }
    .kc {
        /* Keyword.Constant */
        font-weight: bold;
    }
    .kd {
        /* Keyword.Declaration */
        font-weight: bold;
    }
    .kp {
        /* Keyword.Pseudo */
        font-weight: bold;
    }
    .kr {
        /* Keyword.Reserved */
        font-weight: bold;
    }
    .kt {
        /* Keyword.Type */
        color: #445588;
        font-weight: bold;
    }
    .m {
        /* Literal.Number */
        color: #009999;
    }
    .s {
        /* Literal.String */
        color: #d14;
    }
    .na {
        /* Name.Attribute */
        color: #008080;
    }
    .nb {
        /* Name.Builtin */
        color: #0086B3;
    }
    .nc {
        /* Name.Class */
        color: #445588;
        font-weight: bold;
    }
    .no {
        /* Name.Constant */
        color: #008080;
    }
    .ni {
        /* Name.Entity */
        color: #800080;
    }
    .ne {
        /* Name.Exception */
        color: #990000;
        font-weight: bold;
    }
    .nf {
        /* Name.Function */
        color: #990000;
        font-weight: bold;
    }
    .nn {
        /* Name.Namespace */
        color: #555555;
    }
    .nt {
        /* Name.Tag */
        color: #000080;
    }
    .nv {
        /* Name.Variable */
        color: #008080;
    }
    .ow {
        /* Operator.Word */
        font-weight: bold;
    }
    .w {
        /* Text.Whitespace */
        color: #bbbbbb;
    }
    .mf {
        /* Literal.Number.Float */
        color: #009999;
    }
    .mh {
        /* Literal.Number.Hex */
        color: #009999;
    }
    .mi {
        /* Literal.Number.Integer */
        color: #009999;
    }
    .mo {
        /* Literal.Number.Oct */
        color: #009999;
    }
    .sb {
        /* Literal.String.Backtick */
        color: #d14;
    }
    .sc {
        /* Literal.String.Char */
        color: #d14;
    }
    .sd {
        /* Literal.String.Doc */
        color: #d14;
    }
    .s2 {
        /* Literal.String.Double */
        color: #d14;
    }
    .se {
        /* Literal.String.Escape */
        color: #d14;
    }
    .sh {
        /* Literal.String.Heredoc */
        color: #d14;
    }
    .si {
        /* Literal.String.Interpol */
        color: #d14;
    }
    .sx {
        /* Literal.String.Other */
        color: #d14;
    }
    .sr {
        /* Literal.String.Regex */
        color: #009926;
    }
    .s1 {
        /* Literal.String.Single */
        color: #d14;
    }
    .ss {
        /* Literal.String.Symbol */
        color: #990073;
    }
    .bp {
        /* Name.Builtin.Pseudo */
        color: #999999;
    }
    .vc {
        /* Name.Variable.Class */
        color: #008080;
    }
    .vg {
        /* Name.Variable.Global */
        color: #008080;
    }
    .vi {
        /* Name.Variable.Instance */
        color: #008080;
    }
    .il {
        /* Literal.Number.Integer.Long */
        color: #009999;
    }
}
