<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - Jonathan Petitcolas</title>
   <meta name="author" content="Jonathan Petitcolas" />
   <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
   <link href="/atom.xml" rel="alternate" title="Jonathan Petitcolas" type="application/atom+xml" />
   <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="/css/style.css" />
   <link rel="stylesheet" href="/css/syntax.css" />
   <!-- Google Analytics -->
   <script>
       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-2016151-9']);
       _gaq.push(['_trackPageview']);

       (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
   </script>
   <!-- End of Google Analytics -->
</head>
<body>
  <header>
    <div class="wrapper">
      <div class="floatLeft">
        <h1><a href="/">Jonathan Petitcolas</a></h1>
        <p>Web developer and open-source aficionado</p>
      </div>
      <nav>
        <p>
          <a href="/">Home</a>
          <a href="/resume">Resume</a>
          <a href="/archives">Blog archives</a>
        </p>
      </nav>
      <div class="clear"></div>
    </div>
    <div class="separator"></div>
  </header>
  <div class="wrapper">
    {{ content }}
  </div>
  <footer>
    <div class="separator"></div>
    <div class="wrapper details">
      <div class="tweets_column">
        <h5>Live from Twitter</h5>
        <div id="last_tweets"></div>
      </div>
      <div class="github_column">
        <h5>Last activity on GitHub</h5>
        <div id="github_activity" class="dynamic_column"></div>
      </div>
      <div class="social_column">
        <h5>Social</h5>
        <ul>
          <li><a href="mailto:petitcolas.jonathan+blog@gmail.com">Email</a></li>
          <li><a href="http://github.com/jpetitcolas/">GitHub profile</a></li>
          <li><a href="http://www.twitter.com/sethpolma/">Twitter</a></li>
          <li><a href="/atom.xml">RSS feed</a></li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="copyright">
      <div class="wrapper row">
        <p class="half">
          Under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en">Creative Commons BY-NC-SA 3.0</a>: share whatever you want!
        </p>
        <p class="half right">
          <a href="https://github.com/jpetitcolas/jpetitcolas.github.com">Fork me on GitHub</a>
        </p>
        <div class="clear"></div>
      </div>
    </div>
  </footer>
  <script src="/js/footer.js"></script>
</body>
</html>
