<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }} - Jonathan Petitcolas</title>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush%7CRoboto+Slab%3A400%2C700%7CRoboto%3A400%2C400italic%2C700%2C700italic%2C300" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css" />
    {% if page.canonical %}
        <link rel="canonical" href="{{ page.canonical }}" />
    {% endif %}
</head>
<body>
    <header>
        <h1><a href="/">Jonathan Petitcolas</a></h1>
        <p>Full-Stack Web Developer, Open-Source Contributor, Seasoned Speaker</p>
    </header>
    <div class="wrapper">
        {{ content }}
    </div>
</body>
</html>
