.posts-list {
    width: 100%;

    a {
        color: #42342b;
        &:hover {
            color: #f39313;
            text-decoration: none;
        }
    }

    .post-wrapper {
        float: left;
        width: 100%;
        margin-bottom: 2rem;

        @media (min-width: 768px) {
            padding: 0 1.5% 2.5% 1.5%;
            margin-bottom: 0;
            width: 50%;
        }

        @media (min-width: 1200px) {
            width: 33%;
        }
    }

    .post {
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 4px rgba(0,0,0,0.1);
        position: relative;
        overflow: hidden;

        header {
            padding: 4% 10%;
            border-bottom: 1px solid #eee;
            position: relative;
        }

        &::before {
            content: "";
            display: block;
            border: 12px solid transparent;
            border-top-color: #eee;
            position: absolute;
            z-index: 10;
            bottom: 0;
            left: 10%;
            margin-bottom: -24px;
        }

        &::after {
            content: "";
            display: block;
            border: 11px solid transparent;
            border-top-color: #fff;
            position: absolute;
            z-index: 11;
            bottom: 0;
            left: 10%;
            margin-left: 1px;
            margin-bottom: -21px;
        }

        h2 {
            font-family: 'Roboto Slab', sans-serif;
            font-size: 1.25em;
            font-weight: 700;
            color: #2B3542;
            word-break: break-word;
        }

        .picture {
            a {
                display: block;
                overflow: hidden;
            }

            img {
                transition: all 0.3s ease-in-out;
                &:hover {
                    opacity: 0.8;
                    transform: scale(1.1);
                }
            }
        }

        .excerpt {
            padding: 10%;
            color: #666;
            font-size: 0.95em;

            a {
                color: #f39313;
                display: block;
                margin-top: 1.1em;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        footer {
            background: #F9F9F9;
            padding: 0 10%;

            .date {
                background-image: url(img/clock.png);
            }

            a {
                display: block;
                color: #999;
                font-size: 0.8em;
                font-weight: 700;
                padding: 20px 0px 20px 24px;
                background: no-repeat left center;
                background-size: 18px auto;
            }
        }
    }
}
